<h2>Title: <%= @post.name %></h2>
<div class="well col-xs-8 col-xs-offset-2">
 <h4 class="center"><strong>Description:</strong><%= @post.description %></h4>
 <hr>
<%= link_to "Edit", edit_post_path(@post), class: "btn btn-xs btn-primary" %>
<%= link_to 'Back', posts_path, class: "btn btn-xs btn-success" %>
<%= link_to 'Delete', post_path(@post), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>